#slider {
	overflow: hidden;
	height: 450px;
}

.slide img, .slide h1, .slide h2, .slide p, .slide .img {
	position: absolute;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	margin: 0;
	padding: 0;
}

.slide h1 {
	top: 100px;
	left: 50px;
}

.slide h2 {
	top: 135px;
	left: 60px;
}

.slide p {
	top: 180px;
	left: 60px;
	max-width: 500px;
}

.slide .img {
	right: 0px;
	top: 110px;
}

#slider_navigation {
	position: absolute;
	top: -150px;
	height: 50px;
	width: 50px;
}
