@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

.abs (@abs: absolute)
{
	position: @abs;
}
.rel (@rel: relative)
{
	position: @rel;
}

#slider
{
	overflow: hidden;
	height: 450px;
	font-family: "Open Sans";

	.btn-group {
		top: 415px;
		left: 1px;
	}

	.slide
	{
		.abs;
		top: 0px;
		left: 0px;
		color: #fff;
		text-shadow: 3px 3px 3px #000;
		max-height: 450px;

		.text 
		{
			top: -400px;
			left: 50px;

			h1 {
				left: 0;
				.rel;
				text-transform: uppercase;
				font-size: 2.5em;
				padding-top: 100px;
			}

			h2 {	
				left: 15px;
				.rel;
				text-transform: uppercase;
				font-size: 1.5em;
			}

			p {
				left: 15px;
				.rel;
			}
		}

		.s1
		{
			.abs;
			top: -49px;
			left: +24px;
		}
	}
}